<header id="header" class="row">
    <div class="col-sm-6">
      <img src="/New_Logo_White.png" alt="logo">  
    </div>
    <div class="col-sm-6"><center>
      <a href="/login" class="btn btn-info" role="button">Login</a></center>
    </div>
  </header>