<div class="topnav" id="myTopnav2" >
  <a href="/admin">Home</a>
  <div class="dropdown">
      <button class="dropbtn">Manage User 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/newuser">Create user</a>
        <a href="/adminDeleteUser">Delete user</a>
      </div>
    </div> 

  <div class="dropdown">
    <button class="dropbtn">Manage Ministry 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/newministry">Create new ministry</a>
      <a href="/adminViewMinistry">View ministries</a>
      <a href="/adminInactiveMinistries">Inactive ministry</a>
    </div>
  </div> 
  <div class="dropdown">
    <button class="dropbtn">Manage Skills 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/newskill">Add new skills/category</a>
      <a href="/adminViewSkills">View skills</a>
      <a href="adminDeleteSkills">Delete skills</a>
    </div>
  </div> 
  <div class="dropdown">
    <button class="dropbtn">Reports 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="">Skills report</a>
      <a href="">Ministry report</a>
      <a href="">Inactive report</a>
      <a href="">Submission report</a>
      <a href="">Ministry survey</a>
      <a href="">Skills survey</a>
      <a href="">Notifications report</a>
      <a href="">Export report</a>

    </div>
  </div> 


  

</div>