<!DOCTYPE html>
<html>
<body>
<div class="container">
  <div class="row">
    <!-- <div class="col-sm-1"></div> -->
    <div class="col-sm-12">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
<footer>
  <hr class="style2">
  <div class="container-text-left">
    <div class="row">
      <div class="col-sm-8">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-google-plus"></i></a>
    <a href="#"><i class="fa fa-skype"></i></a></div>
    <div class="col-sm-4">

  <p>Posted by: Team Codex</p></div></div>
  <p>Contact information: <a href="mailto:Jolaine@Stgregory.com">Jolaine@Stgregory.com</a></p>
</footer>
<!-- <div class="col-sm-1"></div> -->

<style>
.container-text-left{
  font-size: 25px;
}
.style2{
  border-top: 3px double #8c8b8b;
}
</style>
</body>
</html>
