<div class="topnav" id="myTopnav2" >
    <a href="/admin">Home</a>
    
    <div class="topnav" >
        <a href="/ministries">Ministries</a>
      </div> 
  
    
      <div class="topnav" >
        <a href="/skillSurvey">Skill Survey</a>
        
      </div>
     
    
      <div class="topnav" >
        <a href="/ministrySurvey">Ministry Survey</a>
        
      </div>
      <div class="topnav" >
        
        <a href="" class="next">Next &raquo;</a>
        
      </div>
      <div class="topnav" >
        <a href="" class="previous">&laquo; Previous</a>
        
      </div>
  
    
  
  </div>