<div class="topnav" id="myTopnav2">
  <div class=row>
  <div class="col-sm-2">
  
        <a href="/admin">Home</a>
    </div>
    <div class="topnav">
      <div class="col-sm-2">
        <a href="/ministries">Ministries</a>
      </div> 
      </div>
  
    
      <div class="topnav">
        <div class="col-sm-2">
        <a href="/skillSurvey">Skill Survey</a>
        </div>
        </div>
     
    
      <div class="topnav">
        <div class="col-sm-2">
        <a href="/ministrySurvey">Ministry Survey</a>
        </div>
        </div>
      
        <div class="topnav">
          <div class="col-sm-2">
        
        <a href="" class="next">Next &raquo;</a>
        </div>
        </div>
      
        <div class="topnav">
          <div class="col-sm-2">
        <a href="" class="previous">&laquo; Previous</a>
        </div>
        </div>
  
    
  
  </div>
  </div>