<div class="topnav" id="myTopnav">
    <a href="/">Home</a>
    <a href="/ministriess">Ministries</a>
    <a href="/allskills">Skill Survey</a>
    <a href="/ministriessurvey">Ministry Survey</a>
    <!-- <a href="/admin">Admin</a> -->
    <!-- <a href="/contact">Contact</a> -->
    <!-- <a href="/login">login</a> -->
    <!-- <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a> -->
  </div>