<!DOCTYPE html>
<html>

<head>
    <% include ./partials/header.ejs %>
    
    <script>
        $(document).ready(function(){
            $('a.edit').click(function(){
                $('.totalEvents').hide();
                $('.totalMinistries').hide();
                $('.totalParishioners').hide();
                $('.resetPassword').show();
                $('.save').show();
                $('.name').show();
                
            });
            $('a.save').click(function () {
                $('.save').hide();
                $('.totalParishioners').show();
                $('.totalEvents').show();
                $('.totalMinistries').show();
                $('.resetPassword').hide();
                $('.name').hide();
                $('.pswdLabel').hide();
                $('.savePswd').hide();
              
             });
            $('.resetPassword').click(function(){
                $('.pswdLabel').show();
                $('.savePswd').show();
            });
            $('.savePswd').click(function(){
                $('.pswdLabel').hide();
                $('.savePswd').hide();
            });
        });
     </script>   
</head>

<body>
    <% include ./partials/loggedtop.ejs %>
        <!-- <% include ./partials/nav.ejs %> -->

    <% include ./partials/adminnav.ejs %>

    <div class="container">
        <div class="row">
            <div>
                <div class="jumbotron">
                    <div class="row">

                        <div class="col-sm-9">


                            <h2>Welcome Admin!</h2>
                            <div class="align-top"><div align="right"><a href="" class= "glyphicon glyphicon-bell">Notifications</div></a></div>
                            <div class="align-top"><a class= "edit" href="#"><div align="left"><button type="button" class="btn btn-default btn-sm">
                                     Manage Profile
                                  </button></div></a></div>

                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                            <p>
                                                                    
                                <div class="totalMinistries"><i class="glyphicon glyphicon-user"></i><b>Total no. of Ministries: </b>57 </div>
                                <br />
                                <div class="totalParishioners"><i class="glyphicon glyphicon-user"></i><b>Total no. of parishioners: </b> 250 </div>
                                <br/>
                                <div class="totalParishioners"><i class="glyphicon glyphicon-user"></i><b>Total no. of active parishioners: </b> 200 </div>
                            </p>
                                <div class='name' hidden>
                                        <b>Name: </b><label> <input id="name" type="text" value="" />  </label> </div>

                                <div class="align-top"><a class= "save" href="#" hidden><div align="right">save</div></a></div>

                               

                                <div class="align-top"><a class= "resetPassword" href="#" hidden><div align="left"><button type="button" class="btn btn-default btn-sm">
                                        Reset Password
                                     </button></div></a></div>
                            <p>
                                <div class="pswdLabel" hidden>
                                <b>Old Password: </b><label class="oldPswd"> <input id="oldPswd" type="text" value="" />  </label>
                                <b>New Password: </b><label class="newPswd"><input id="newPswd" type="text" value="" /> </label></br>
                                </div>
                                <div class="align-top"><a class= "savePswd" href="#" hidden><div align="right">Reset</div></a></div>
                            </p>


                                


                        </div>
                    </div>
                </div>


                
            </div>
        </div>
            <!-- page code -->
</body>

</html>
