<!DOCTYPE html>
<html>

<head>
    <% include ./partials/header.ejs %>
</head>

<body>
    <% include ./partials/loggedtop.ejs %>
        <!-- <% include ./partials/nav.ejs %> -->

    <% include ./partials/adminnav.ejs %>

    <div class="container">
        <div class="row">
            <div>
                <div class="jumbotron">
                    <div class="row">

                        <div class="col-sm-9">


                            <h2>Welcome Admin!</h2>
                            <div class="align-top"><div align="right"><a href="" class= "glyphicon glyphicon-bell">Notifications</div></a></div>
                            <div class="align-top"><a href="" class="btn btn-info" role="button"><div align="right">Manage Profile</div></a></div>

                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                            <p>
                                    <i class="glyphicon glyphicon-calendar"></i><b>No. of events this week: </b> 3
                                    <br />
                                <i class="glyphicon glyphicon-user"></i><b>Total no. of Ministries: </b>57
                                <br />
                                <i class="glyphicon glyphicon-user"></i><b>Total no. of parishioners: </b> 250</p>




                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- page code -->
</body>

</html>
