<!DOCTYPE html>
<html>

<head>
    <% include ./partials/header.ejs %>
    
    <script >
        
        function newPopup(url) {
	popupWindow = window.open(
		url,'popUpWindow','height=300,width=400,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
}

     </script>  
     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">
     
       google.charts.load('current', {'packages':['corechart']});
       google.charts.setOnLoadCallback(drawChart);
 
       function drawChart() {
 
         var data = google.visualization.arrayToDataTable([
           ['Task', 'Hours per Day'],
           ['Total number of parishioners',     11],
           ['Number of active parishioners',      2],
           
         ]);
 
         var options = {
           title: 'Parishioners data'
         };
 
         var chart = new google.visualization.PieChart(document.getElementById('piechart'));
 
         chart.draw(data, options);
       }
     </script>
</head>

<body>
    <% include ./partials/loggedtop.ejs %>
        <!-- <% include ./partials/nav.ejs %> -->

    <% include ./partials/adminnav.ejs %>

    <div class="container">
        <div class="row">
            <div>
                <div class="jumbotron">
                    <div class="row">

                        <div class="col-sm-9">


                            <h2>Welcome Admin!</h2>
                            <div class="align-top"><div align="right"><a href="" class= "glyphicon glyphicon-bell">Notifications</div></a></div>
                            <div class="align-top"><a class= "edit" href="#"><div align="left">
                                    <a href="JavaScript:newPopup('/adminprofile');"><button type="button" class="btn btn-default btn-sm">
                                     Manage Profile
                                  </button></a>
                                  
                                </div></a></div>
                                <div id="piechart" style="width: 900px; height: 500px;"></div>

                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp -->
                            
                            
                            
</div>
</div>
</div>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                               
                            


                                


                        </div>
                    </div>
                </div>


                
            </div>
        </div>
            <!-- page code -->
</body>
<style>
    .pswdLabel {
        padding: 16px;

    }
    form {
        border: 3px solid #f1f1f1;
    }
</style>

</html>
