<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
</head>

<body>
  <% include ./partials/top.ejs %>
  <% include ./partials/adminnav.ejs %>



		<div class="container">
			<div class="jumbotron">
			<h1>Select Ministries to delete</h1>
			
			</div>
		</div>

			<div id="content">
				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-default">
							<div class="panel-heading">Ministries</div>
							<div class="panel-body">
								<table style="width: 100%; height: 100%;">

									<tr>
										<th> <input id="checkBox1" type="checkbox"> Adult Faith Formation Programs </th>
										<th> <input id="checkBox2" type="checkbox"> Altar Servers </th>
										<th> <input id="checkBox3" type="checkbox"> Annulment Advocate </th>
									</tr>
									<tr>
										<th> <input id="checkBox4" type="checkbox"> Art & Environment Committee </th>
										<th> <input id="checkBox5" type="checkbox"> Bereavement Ministry </th>
										<th> <input id="checkBox6" type="checkbox"> Cemetery Board </th>
									</tr>
									<tr>
										<th> <input id="checkBox7" type="checkbox"> Childcare for Parish Events </th>
										<th> <input id="checkBox8" type="checkbox"> Children's Liturgy of Word </th>
										<th> <input id="checkBox9" type="checkbox"> Endowment Committee </th>
									</tr>
									<!-- </table>
							</div>
						</div>
					</div>

					<div class="col-sm-12">
						<div class="panel panel-default">
							<div class="panel-heading">Ministry Set 2</div>
							<div class="panel-body">
								<table style="width: 100%; height: 100%;"> -->

									<tr>
										<th><input id="checkBox10" type="checkbox"> Extraordinary Ministries of Communion </th>
										<th><input id="checkBox11" type="checkbox"> Finance Council </th>
										<th><input id="checkBox12" type="checkbox"> Greeters </th>
									</tr>
									<tr>
										<th><input id="checkBox13" type="checkbox"> Heavenly Dusters </th>
										<th><input id="checkBox14" type="checkbox"> Knights of Columbus </th>
										<th><input id="checkBox15" type="checkbox"> Knights of Columbus Ladies Auxiliary </th>
									</tr>
									<tr>
										<th><input id="checkBox16" type="checkbox"> Lectors </th>
										<th><input id="checkBox17" type="checkbox"> Liturgy Committee </th>
										<th><input id="checkBox18" type="checkbox"> Maintenance Committee </th>
									</tr>
									<!-- </table>
							</div>
						</div>
					</div>
				</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">Ministry Set 3</div>
						<div class="panel-body">
							<table style="width: 100%; height: 100%;"> -->

									<tr>
										<th> <input id="checkBox19" type="checkbox"> Manna Kitchen </th>
										<th> <input id="checkBox20" type="checkbox"> Ministry Center </th>
										<th> <input id="checkBox21" type="checkbox"> Music Ministry </th>
									</tr>
									<tr>
										<th> <input id="checkBox22" type="checkbox"> Nursing Home Ministry </th>
										<th> <input id="checkBox23" type="checkbox"> Pastoral Council </th>
										<th> <input id="checkBox24" type="checkbox"> Prison Ministry </th>
									</tr>
									<tr>
										<th> <input id="checkBox25" type="checkbox"> Right to Life </th>
										<th> <input id="checkBox26" type="checkbox"> Sacramental Prep </th>
										<th> <input id="checkBox27" type="checkbox"> School Ministries </th>
										<!-- </tr>
							</table>
						</div>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">Ministry Set 4</div>
						<div class="panel-body">
							<table style="width: 100%; height: 100%;"> -->

										<tr>
											<th><input id="checkBox28" type="checkbox"> Scrip Volunteer </th>
											<th><input id="checkBox29" type="checkbox"> Social Jusitce Ministry </th>
											<th><input id="checkBox30" type="checkbox"> St Anne's Circle </th>
										</tr>
										<tr>
											<th><input id="checkBox31" type="checkbox"> St Gerard's Circle </th>
											<th><input id="checkBox32" type="checkbox"> Stewardship Committee </th>
											<th><input id="checkBox33" type="checkbox"> Ushers </th>
										</tr>
										<tr>
											<th><input id="checkBox34" type="checkbox"> Wedding Coordinator </th>
											<th><input id="checkBox35" type="checkbox"> Welcoming Committee </th>
											<th><input id="checkBox36" type="checkbox"> Women's Guild </th>
										</tr>
								</table>
							</div>
						</div>
					</div>
				</div>

			<form action="" method="post">
				<div style="text-align:right">
					<button type="submit" value="Submit">Submit</button>
				</div>
			</form>
		</div>
	</div>
			<style>
				#content {
					margin-left: 100px;
					margin-right: 100px;
				}
			</style>
</body>

</html>
