<!DOCTYPE html>
<html>

<head>
    <% include ./partials/header.ejs %>
    <script>
        function newPopup(url) {
	popupWindow = window.open(
		url,'popUpWindow','height=300,width=400,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
}
    </script>
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Percent of inactive parishioners',     4],
          ['Percent of active parishioners',      7],
          
        ]);

        var options = {
          title: 'Parishioners data',
        
          pieSliceText: 'percentage',
          is3D: true,

        };
        

    
        // <option name="charting.chart">column</option>

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
     
</head>

<body>
    <% include ./partials/loggedtop.ejs %>
        <!-- <% include ./partials/nav.ejs %> -->

    <% include ./partials/adminnav.ejs %>

    <div class="container">
        <div class="row">
            <div>
                <div class="jumbotron">
                    <div class="row">

                        <div class="col-sm-9">


                            <h2>Welcome Admin!</h2>
                            <div class="align-top"><div align="right"><p>
                                <a href="#" class="btn btn-info btn-lg">
                                  <span class="glyphicon glyphicon-bell"></span> Notifications
                                </a>
                              </p> </div></div>
                            <div class="align-top"><a class= "edit" href="#"><div align="left"><button type="button" class="btn btn-default btn-sm">
                            <div class="align-top"><div align="right"><a href="" class= "glyphicon glyphicon-bell">Notifications</div></a></div>
                            <div class="align-top"><a class= "edit" href="#"><div align="left">
                                    <a href="JavaScript:newPopup('/adminprofile');"><button type="button" class="btn btn-default btn-sm">
                                     Manage Profile
                                  </button></a>
                                </br>
                                  
                                </div></a></div>
                                <div id="piechart" style="width: 600px; height: 500px;"></div>

                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp -->
                            
                            
                            
</div>
</div>
</div>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                               
                            


                                


                        </div>
                    </div>
                </div>


                
            </div>
        </div>
            <!-- page code -->
            <style>
                .btn-lg{
                    background-color: blue
                }
                </style>

</body>
<style>
    .pswdLabel {
        padding: 16px;

    }
    form {
        border: 3px solid #f1f1f1;
    }
</style>

</html>
