<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
</head>

<body>
  <% include ./partials/top.ejs %>
  <% include ./partials/nav.ejs %>

<!-- page code -->
  <main>
      <div class="container">
          <div class="jumbotron">
              Event One: free Dining Service</br></br>
              At
              333 South Davis</br>
              Maryville, MO 64468-2817</br>
              Phone: (660)-582-3833
      </div></div>
  </main>
</body>
</html>
