<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
</head>

<body>
  <% include ./partials/top.ejs %>
  <% include ./partials/nav.ejs %>

            <!-- page code -->
            <!-- <div class="col-sm-6"> -->
            <div class="container">
                <div class="row">
                    <div>
                        <div class="jumbotron">
                            <div class="row">
                                <div class="col-sm-2 col-sm-6">
                                    <img src="/jolaine.jpg" alt="" class="img-rounded img-responsive" />
                                </div>
                                <div class="col-sm-7">

                                    <h2>Welcome Jolaine!</h2>


                                    <p>
                                            <i class="glyphicon glyphicon-user"></i><b>Name:</b> Jolaine
                                            <br />
                                        <i class="glyphicon glyphicon-envelope"></i><b>Email:</b> jolaine@example.com
                                        <br />
                                        <i class="glyphicon glyphicon-phone"></i><b>Contact:</b> +16605280000</p>
                                    <!-- Split button -->
                                    Note:<textarea name="message" rows="2" cols="100">Ill be free during Saturdays and Sundays between 10 am to 7pm.
                                            </textarea>
                                <footer><a><div align="right">edit</div></a></footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- pannels for skill and ministries -->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading"><div class="col-sm-9">Your ministries</div><a href= "/ministrySurvey" ><div align="right">edit</div></a></div>
                            <div class="panel-body">

                                    <ul><a href="/ministry">Ministry 1<font color="red">(Lead)</font></a></ul>
                                    <ul><a  href="/ministry">Ministry 2</a></ul>
                                    <ul><a  href="/ministry">Ministry 3</a></ul>
                                    <ul><a  href="/ministry">Ministry 4</a></ul>
                                    <ul><a  href="/ministry">Ministry 5</a></ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                                <div class="panel-heading"><div class="col-sm-9">Your skills</div><a href= "/skillSurvey" ><div align="right">edit</div></a></div>
                            <div class="panel-body">
                                    <ul><a>Writing</a></ul>
                                    <ul><a>Graphic Design</a></ul>
                                    <ul><a>Hardscape</a></ul>
                                    <ul><a>Leadership</a></ul>
                                    <ul><a>Photography</a></ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading" class="col-sm-3">Updates</div>
                                <div class="panel-body">
                                    <ul>
                                        <li>Event one has started </br>
                                        </li>
                                        <li>event 2 has ended</br>
                                        </li>
                                        <li>event 3 is on 2-23-2017, You are welcome to it </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->



            <!-- <div class="col-sm-9 col-sm-12">
            <div class="container" > -->
            <!-- <div class="col-sm-4">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading" class="col-sm-3">Updates</div>
                        <div class="panel-body">
                            <ul>
                                <li>Event one has started </br>
                                </li>
                                <li>event 2 has ended</br>
                                </li>
                                <li>event 3 is on 2-23-2017, You are welcome to it </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
        <!-- </div>
        </div> -->
            <!-- page code -->
</body>

</html>
