<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
</head>

<body>
  <% include ./partials/top.ejs %>
  <% include ./partials/nav.ejs %>


	<div id="content">
<!-- page code -->
<h2>Here is the list of all our ministries. Click on the ministry name to know more about them.</h2>
<div id="Ministrycontainer" class="panel panel-default">
    <div class="panel-heading"><b>OUR MINISTRIES</b></div>
    <div id="panel-body">
    <table class="table">

      <!-- <div id="firstDivistion" > -->

        <tr class="noborder">
          <td><a href="/ministry">Adult Faith Formation Programs</a></td>
          <td><a href="/ministry2">Altar Servers</a></td>
          <td><a href="/ministry">Annulment Advocate</a></td>
          <td><a href="/ministry">Art & Environment Committee</a></td>

        </tr>
      <!-- </div> -->
      <!-- <div id="secondDivistion" > -->
          <tr>
              <td><a href="/ministry">Bereavement Ministry</a></td>
              <td><a href="/ministry">Cemetery Board</a></td>
              <td><a href="/ministry"> Childcare for Parish Events</a></td>
              <td><a href="/ministry">Children's Liturgy of Word</a></td>

            </tr>
      <!-- </div> -->
      <!-- <div id="thirdDivistion" > -->
          <tr>
              <td><a href="/ministry">Endowment Committee</a></td>
              <td><a href="/ministry">Extraordinary Ministries of Communion</a></td>
              <td><a href="/ministry">Finance Council</a></td>
              <td><a href="/ministry">Greeters</a></td>

            </tr>
      <!-- </div> -->
      <!-- <div id="fourthDivistion" > -->
          <tr>
              <td><a href="/ministry">Heavenly Dusters</a></td>
              <td><a href="/ministry">Knights of Columbus</a></td>
              <td><a href="/ministry">Knights of Columbus Ladies Auxiliary</a></td>
              <td><a href="/ministry">Lectors</a></td>

            </tr>
      <!-- </div> -->

      <tr>
          <td><a href="/ministry">Liturgy Committee</a></td>
          <td><a href="/ministry">Maintenance Committee</a></td>
          <td><a href="/ministry">Manna Kitchen</a></td>
          <td><a href="/ministry">Ministry Center</a></td>

        </tr>
        <tr>
          <td><a href="/ministry">Music Ministry</a></td>
          <td><a href="/ministry">Nursing Home Ministry</a></td>
          <td><a href="/ministry">Pastoral Council</a></td>
          <td><a href="/ministry">Prison Ministry</a></td>

        </tr>
        <tr>
          <td><a href="/ministry">Right to Life</a></td>
          <td><a href="/ministry">Sacramental Prep</a></td>
          <td><a href="/ministry">School Ministries</a></td>
          <td><a href="/ministry">Scrip Volunteer</a></td>

        </tr>
        <tr>
          <td><a href="/ministry">Social Jusitce Ministry</a></td>
          <td><a href="/ministry">St Anne's Circle</a></td>
          <td><a href="/ministry">St Gerard's Circle</a></td>
          <td><a href="/ministry">Stewardship Committee</a></td>

        </tr>
        <tr>
          <td><a href="/ministry">Ushers</a></td>
          <td><a href="/ministry">Wedding Coordinator</a></td>
          <td><a href="/ministry">Welcoming Committee</a></td>
          <td><a href="/ministry">Women's Guild</a></td>

        </tr>

      </table>
    </div>
  </div>
</div>
<!-- ministrylist -->

<style>
    #content {
      margin-left: 100px;
      margin-right: 100px;
    }
  </style>

    </main>
    <footer>
        </footer>

        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
            </script>




</body>
</html>
