<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/top.ejs %>
  <% include ../partials/nav.ejs %>

  <!-- Main code -->

  <div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
          
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
               <center> <img src="/slide1.jpg" alt="team 1"> </center>
              </div>
          
              <div class="item">
               <center> <img src="/slide2.jpg" alt="team 2"> </center>
              </div>
          

            </div>
          
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
</div>


<div class="col-sm-9" class="container">
<div class="jumbotron">
    <h1>Welcome to Ministry</h1>
    <p>“You can do something I cannot do. I can do something you cannot do. Together let us do something beautiful
        for God.” – Blessed Mother Teresa
    </p>
</div>
        <p align="justify">
        Each portrayal was followed by a hymn led by seventh graders Cassidy Spire and Tori Allen or a piano instrumental.
        
        Nielson said her students have become familiar with the Stations of the Cross throughout their years at St. Gregory’s, but that they take extra time to focus and reflect on them before the reenactment.
        
        “Anytime we can step out of the desks and outside the classroom we do,” Nielson said. “The more we can act out, the more the students will remember and understand the significance of it.”
        
        The traditional Stations of the Cross include 14 events ending with Jesus’ body being sealed in the tomb. However, a 15th station is sometimes added, the Resurrection on Easter morning.
        
        “(Holy Week) is the darkest time in our liturgical year,” Nielson said. “The students understand that and take it seriously.”
        
        The Last Supper reenactment took place on Holy Thursday, which is also called Maundy Thursday.
        
        “Maundy” comes from the Latin word “mandatum” which means “mandate” or “commandment.”
        
        It refers to Christ’s commandment to his disciples to show love for one another as he showed them love through his sacrificial death.
    </p>
</div>


<div class="col-sm-3">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading" class="col-sm-3">Events</div>
            <div class="panel-body">
                <ul>
                    <li>Event one has started </br>
                    </li>
                    <li>event 2 has ended</br>
                    </li>
                    <li>event 3 is on 2-23-2017, You are welcome to it </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" class="col-sm-3">Contact</div>
            <div class="panel-body">
                <ul>
                    Ministry lead</br>
                    Jolaine </br>
                    
                    
                  
                  +1-660-7777-222
                </ul>
            </div>
        </div>
      </div>
<!-- <div class="panel panel-primary">
    <div class="panel-heading" class="col-sm-3">Events</div>
    <div class="panel-body">
        <ul>
            <li>Event one has started </br>
            </li>
            <li>event 2 has ended</br>
            </li>
            <li>event 3 is on 2-23-2017, You are welcome to it </li>
        </ul>
    </div>
</div> -->
</div>


<!--/Main code-->


</body>
</html>