<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
</head>

<body>
  <% include ./partials/top.ejs %>
  <% include ./partials/nav.ejs %>



		<div class="container">
			<div class="jumbotron">
			<h1>Welcome to Ministry survey</h1>
			<p>“Complete your Ministry survey here!”</p>
			</div>
		</div>

			<div id="content">
				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-default">
							<div class="panel-heading">Ministries</div>
							<div class="panel-body">
								<table style="width: 100%; height: 100%;">

									<tr>
										<th> <input id="checkBox" type="checkbox"> Adult Faith Formation Programs </th>
										<th> <input id="checkBox" type="checkbox"> Altar Servers </th>
										<th> <input id="checkBox" type="checkbox"> Annulment Advocate </th>
									</tr>
									<tr>
										<th> <input id="checkBox" type="checkbox"> Art & Environment Committee </th>
										<th> <input id="checkBox" type="checkbox"> Bereavement Ministry </th>
										<th> <input id="checkBox" type="checkbox"> Cemetery Board </th>
									</tr>
									<tr>
										<th> <input id="checkBox" type="checkbox"> Childcare for Parish Events </th>
										<th> <input id="checkBox" type="checkbox"> Children's Liturgy of Word </th>
										<th> <input id="checkBox" type="checkbox"> Endowment Committee </th>
									</tr>
									<!-- </table>
							</div>
						</div>
					</div>

					<div class="col-sm-12">
						<div class="panel panel-default">
							<div class="panel-heading">Ministry Set 2</div>
							<div class="panel-body">
								<table style="width: 100%; height: 100%;"> -->

									<tr>
										<th><input id="checkBox" type="checkbox"> Extraordinary Ministries of Communion </th>
										<th><input id="checkBox" type="checkbox"> Finance Council </th>
										<th><input id="checkBox" type="checkbox"> Greeters </th>
									</tr>
									<tr>
										<th><input id="checkBox" type="checkbox"> Heavenly Dusters </th>
										<th><input id="checkBox" type="checkbox"> Knights of Columbus </th>
										<th><input id="checkBox" type="checkbox"> Knights of Columbus Ladies Auxiliary </th>
									</tr>
									<tr>
										<th><input id="checkBox" type="checkbox"> Lectors </th>
										<th><input id="checkBox" type="checkbox"> Liturgy Committee </th>
										<th><input id="checkBox" type="checkbox"> Maintenance Committee </th>
									</tr>
									<!-- </table>
							</div>
						</div>
					</div>
				</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">Ministry Set 3</div>
						<div class="panel-body">
							<table style="width: 100%; height: 100%;"> -->

									<tr>
										<th> <input id="checkBox" type="checkbox"> Manna Kitchen </th>
										<th> <input id="checkBox" type="checkbox"> Ministry Center </th>
										<th> <input id="checkBox" type="checkbox"> Music Ministry </th>
									</tr>
									<tr>
										<th> <input id="checkBox" type="checkbox"> Nursing Home Ministry </th>
										<th> <input id="checkBox" type="checkbox"> Pastoral Council </th>
										<th> <input id="checkBox" type="checkbox"> Prison Ministry </th>
									</tr>
									<tr>
										<th> <input id="checkBox" type="checkbox"> Right to Life </th>
										<th> <input id="checkBox" type="checkbox"> Sacramental Prep </th>
										<th> <input id="checkBox" type="checkbox"> School Ministries </th>
										<!-- </tr>
							</table>
						</div>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">Ministry Set 4</div>
						<div class="panel-body">
							<table style="width: 100%; height: 100%;"> -->

										<tr>
											<th><input id="checkBox" type="checkbox"> Scrip Volunteer </th>
											<th><input id="checkBox" type="checkbox"> Social Jusitce Ministry </th>
											<th><input id="checkBox" type="checkbox"> St Anne's Circle </th>
										</tr>
										<tr>
											<th><input id="checkBox" type="checkbox"> St Gerard's Circle </th>
											<th><input id="checkBox" type="checkbox"> Stewardship Committee </th>
											<th><input id="checkBox" type="checkbox"> Ushers </th>
										</tr>
										<tr>
											<th><input id="checkBox" type="checkbox"> Wedding Coordinator </th>
											<th><input id="checkBox" type="checkbox"> Welcoming Committee </th>
											<th><input id="checkBox" type="checkbox"> Women's Guild </th>
										</tr>
								</table>
							</div>
						</div>
					</div>
				</div>

			<form action="" method="post">
				<div style="text-align:right">
					<button type="submit" value="Submit">Submit</button>
				</div>
			</form>
		</div>
	</div>
			<style>
				#content {
					margin-left: 100px;
					margin-right: 100px;
				}
			</style>
</body>

</html>
