<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/top.ejs %>
  <% include ../partials/nav.ejs %>



<!-- page code -->
<h2>Hear is the list of all our ministries. Click one of them to know more about them.</h2>
<div id="Ministrycontainer" class="panel panel-default">
    <div class="panel-heading"><b>OUR MINISTRIES</b></div>
    <div id="panel-body">
    <table class="table">
      
      <!-- <div id="firstDivistion" > -->

        <tr class="noborder">
          <td><a href="/ministry">ministry 1</a></td>
          <td><a href="/ministry">ministry 2</a></td>
          <td><a href="/ministry">ministry 3</a></td>
          <td><a href="/ministry">ministry 4</a></td>
       
        </tr>
      <!-- </div> -->
      <!-- <div id="secondDivistion" > -->
          <tr>
              <td><a href="/ministry">ministry 5</a></td>
              <td><a href="/ministry">ministry 6</a></td>
              <td><a href="/ministry">ministry 7</a></td>
              <td><a href="/ministry">ministry 8</a></td>
         
            </tr>
      <!-- </div> -->
      <!-- <div id="thirdDivistion" > -->
          <tr>
              <td><a href="/ministry">ministry 9</a></td>
              <td><a href="/ministry">ministry 10</a></td>
              <td><a href="/ministry">ministry 11</a></td>
              <td><a href="/ministry">ministry 12</a></td>
             
            </tr>
      <!-- </div> -->
      <!-- <div id="fourthDivistion" > -->
          <tr>
              <td><a href="/ministry">ministry 13</a></td>
              <td><a href="/ministry">ministry 14</a></td>
              <td><a href="/ministry">ministry 15</a></td>
              <td><a href="/ministry">ministry 16</a></td>
             
            </tr>
      <!-- </div> -->
      
      <tr>
          <td><a href="/ministry">ministry 17</a></td>
          <td><a href="/ministry">ministry 18</a></td>
          <td><a href="/ministry">ministry 19</a></td>
          <td><a href="/ministry">ministry 20</a></td>
          
        </tr>

      </table>
    </div>
  </div>

<!-- ministrylist -->



    </main>
    <footer>
        </footer>
      
        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
            </script>
      



</body>
</html>
