<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
</head>

<body>
  <% include ./partials/top.ejs %>
  <% include ./partials/nav.ejs %>


	
<!-- page code -->
<div class="container">
<h2>Here is the list of all our ministries. Click on the ministry name to know more about them.</h2>
<!-- <h4><b>Active Ministries:</b><h4> <h5> Click on the ministry name to view descriptions and activities of the ministry.  Use the navigation tools in the menu bar to easily move from ministry to ministry.</h5> -->
<div id="Ministrycontainer" class="panel panel-default">
    <div class="panel-heading"><b>OUR MINISTRIES</b></div>
    <div id="panel-body">
      
        <ul class="ministryListBlk">
        <% for(let i=0; i<ministrylist.length; i++) { %>
                  <ol><a href="/ministry/<%= ministrylist[i]._id %>"> <%= ministrylist[i].minisrtyname  %></a></ol>
        <% } %>
        </ul>
    </div>
  </div>
</div>

<!-- ministrylist -->

<style>
    #content {
      margin-left: 100px;
      margin-right: 100px;
    }
    ul.ministryListBlk {
        height: 100px;
        columns: 3;
        overflow: auto;
    }
  </style>

    </main>
    <footer>
        </footer>
</body>
</html>
