
</html>
<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>

<body>
  <% include ./partials/top.ejs %>
  <% include ./partials/nav.ejs %>

  <div class="container">
  <!-- <form action="/updateministry" method="get"> -->
	
<!-- page code -->
<!-- <div class="container"> -->
<h2>Here is the list of all our ministries. Click on the ministry name to know more about them.</h2>
 
<!-- <h4><b>Active Ministries:</b><h4> <h5> Click on the ministry name to view descriptions and activities of the ministry.  Use the navigation tools in the menu bar to easily move from ministry to ministry.</h5> -->
<div id="Ministrycontainer" class="panel panel-default">
    <div class="panel-heading"><b>OUR MINISTRIES</b></div>
    <div id="panel-body">
        <form action="/ministrytest" method="post">
        <ul class="ministryListBlk">
        <% for(let i=0; i<ministrylist.length; i++) { %>
                  <li><input id="scheckBox14" type="checkbox" name="ministry" value= <%= ministrylist[i].minisrtyname  %>><a href="/ministry/<%= ministrylist[i]._id %>"> <%= ministrylist[i].minisrtyname  %></a></li>
        <% } %>
        </ul>
    </div></div>
</div>
        <button class="btn btn-info" type="submit">Submit</button>   

  </form>
  




	<div style="text-align:right">
	
	</div>

</div>
</div>
<!-- </div> -->
<!-- ministrylist -->

<style>
    #content {
      margin-left: 100px;
      margin-right: 100px;
    }
    ul.ministryListBlk {
        height: 100px;
        columns: 3;
        overflow: auto;
    }
  </style>


  
  <script type="text/javascript">
    //   $(document).ready(function() {
    //       $("button").click(function(){
    //           var favorite = [];
    //           $.each($("input[name='ministry']:checked"), function(){            
    //               favorite.push($(this).val());

    //               var survey = JSON.stringify(favorite);
    //           });
    //         //   alert("My favourite sports are: " + favorite.join(", "));
    //       });
    //   });
  </script>
                          
  


    </main>
    <footer>
        </footer>
</body>
</html>
