<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
</head>

<body>
  <% include ./partials/top.ejs %>
  <% include ./partials/adminnav.ejs %>



<!-- page code -->
<center>

    <style>
    form {
        border: 3px solid #f1f1f1;
    }

    input[type=text], input[type=password],input[type=email] {
        width: 35%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }



    button:hover {
        opacity: 0.8;
    }


    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
    }

    img.avatar {
        width: 40%;
        border-radius: 50%;
    }

    .container {
        padding: 16px;

    }

    span.psw {
        float: none;
        padding-top: 16px;
    }

    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
        span.psw {
           display: block;
           float: none;
        }
        .cancelbtn {
           width: 100%;
        }
    }
    </style>
    <body>

    <h2>Create New Ministry</h2>

    <form method="post" action="/" onSubmit="return validateForm(this)" name="form">


      <div class="container">
        <table>
            <tr>
        <td><label><b>Ministryname</b></label></td>
        <td><input type="text" style="width: 300px" placeholder="Enter Ministryname" name="Mname" ></td>
    </tr>

        <td> <label><b>Description</b></label></td>
    <td>  <input type="textarea" style="width: 300px" placeholder="Enter Textarea" name="Tarea" ></td>
    </tr>
<tr>

        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Assign Lead</button>

    
</tr>
</table>
    <p id="my-error-message-container" style="display:none; border:1px solid red; color:red; background-color:yellow; font-weight:bold; padding:5px; width:188px;"></p>
        <button class="btn btn-info" type="submit">Create User</button>

        <button class="btn btn-danger" role="button">Cancel</button>

</div>


      <!-- <div class="container" style="background-color:#f1f1f1">
        <input type="checkbox" checked="checked"> Remember me
        <span class="psw"> <a href="#">Forgot password?</a></span>
      </div> -->
    </form>
    <!-- test script -->
     <!-- test script -->
     <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Parishioners</h4>
                </div>
                <div class="modal-body">
                        <table style="width: 100%; height: 100%;">
                                
                                                                    <tr>
                                                                        <th> <input type="radio" name="optradio"> Parishioner 1 </th>
                                                                        <th> <input type="radio" name="optradio"> Parishioner 2 </th>
                                                                        <th> <input type="radio" name="optradio"> Parishioner 3 </th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th> <input type="radio" name="optradio"> Parishioner 4 </th>
                                                                        <th> <input type="radio" name="optradio"> Parishioner 5 </th>
                                                                        <th> <input type="radio" name="optradio"> Parishioner 6 </th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th> <input type="radio" name="optradio"> Parishioner 7 </th>
                                                                        <th> <input type="radio" name="optradio"> Parishioner 8 </th>
                                                                        <th> <input type="radio" name="optradio"> Parishioner 9 </th>
                                                                    </tr>
                        </table>
                </div>
                <div class="modal-footer">
                        <button type="button" class="btn btn-default">Submit</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              
            </div>
          </div>




            <script>
function validateForm() {
    var x = document.forms["form"]["uname"].value;
    var z = document.forms["form"]["psw"].value;
    var y = /^[a-zA-Z0-9-_]{2,16}$/;
    var p = /^[a-z0-9_-]{6,18}$/;
    if (x== "") {
        alert("please enter username");
        return false;
    }
    else if(x.length < 2)
    {
        alert("username should contain minimum 2 characters");
        return false;
    }
    else if(y.test(x)== false)
    {
        alert("follow the pattern");
        return false;
    }
    if(z== "")
    {
        alert("please enter password");
        return false;
    }
    else if(z.length <6)
    {
        alert("password should contain minimum 6 characters");
        return false;
    }
    else if(p.test(z)== false)
    {
        alert("follow the pattern");
        return false;
    }

}
</script>

    </body>
    </html>
</center>

</body>
</html>
