<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
  <script>
       $(document).ready(function(){
            $('.skill').click(function(){
                $('.createSkill').show();
                $('.createCategory').hide();
            });
            $('.category').click(function(){
                $('.createSkill').hide();
                $('.createCategory').show();
            });
       });
  </script>
</head>

<body>
  <% include ./partials/loggedtop.ejs %>
  <% include ./partials/adminnav.ejs %>



<!-- page code -->
<center>

    <style>
    form {
        border: 3px solid #f1f1f1;
    }

    input[type=text], input[type=password],input[type=email] {
        width: 35%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 0px 0px;
        border: none;
        cursor: pointer;
        width: 100%;
    }
      .btn-info{
        padding-left:20px;
        margin: 10px 5px;
          width: 20%;
      }
      .btn-danger{
          width: 20%;

      }



    button:hover {
        opacity: 0.8;
    }


    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
    }

    img.avatar {
        width: 40%;
        border-radius: 50%;
    }

    .container {
        padding: 16px;

    }

    span.psw {
        float: none;
        padding-top: 16px;
    }

    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
        span.psw {
           display: block;
           float: none;
        }
        .cancelbtn {
           width: 100%;
        }
    }

    #cat1{
        display: none;
    }
    </style>
    <body>

    <h2>Create New Skill</h2>
    <div class="radio">
        <span> <label><input type="radio" name="optradio" class="skill">Create skill  </label> </span>
         <span><label><input type="radio" name="optradio" class="category">Create category</label></span>
       </div>
    <form method="post" action="/newskill" onSubmit="return validateForm(this)" name="form" class="createSkill" hidden>


      <div class="container">
        <table>
            <tr>
        <td><label><b>Skill Name</b></label></td>
        <td><input type="text" style="width: 300px" placeholder="Enter Skillname" name="sname" ></td>
    </tr>

        <td> <label><b>Skill Type</b></label></td>
        <td><div class="form-group">

            <select class="form-control" id="types">
              <option>type1</option>
              <option>type2</option>
              </td>
    </tr>
<tr>
    <td> <label><b>Skill Category</b></label></td>
     <td><div class="form-group">

            <!-- <select class="form-control" name="cat1"> -->
          <select class="form-control" name="cat1" required="">
          <option value="Select">Select a skill Category</option>
          <option  value="Arts">Arts</option>
          <option  value="Building Skills">Building Skills</option>
          <option value="Event Skills">Event Skills</option>
          <option  value="Business/Technology">Business/Technology</option>
          <option  value="Business/Team Skills">Business/Team Skills</option>
          <option  value="Discipleship/Spirituality">Discipleship/Spirituality</option>
          </select>
      </div> </td>


</tr>
</table>
    <p id="my-error-message-container" style="display:none; border:1px solid red; color:red; background-color:yellow; font-weight:bold; padding:5px; width:188px;"></p>
      <div>  <button class="btn btn-info" type="submit">Create Skill</button></div>

        <button class="btn btn-danger" role="button">Cancel</button>

</div>


      <!-- <div class="container" style="background-color:#f1f1f1">
        <input type="checkbox" checked="checked"> Remember me
        <span class="psw"> <a href="#">Forgot password?</a></span>
      </div> -->
    </form>
    <!-- test script -->
     <!-- test script -->

     <form method="post" action="/newskill" onSubmit="return validateForm(this)" name="form" class="createCategory" hidden>
        
        
              <div class="container">
                <table>
                    <tr>
                <td><label><b>Category Name</b></label></td>
                <td><input type="text" style="width: 300px" placeholder="Enter category name" name="sname" ></td>
            </tr>
        
               
                
            
        </table>
            <p id="my-error-message-container" style="display:none; border:1px solid red; color:red; background-color:yellow; font-weight:bold; padding:5px; width:188px;"></p>
              <div>  <button class="btn btn-info" type="submit">Create category</button></div>
        
                <button class="btn btn-danger" role="button">Cancel</button>
        
        </div>
        
        
             
            </form>
     <!-- <textarea id="demo"  name="cat2"></textarea> -->




            <script>
function validateForm() {
    var x = document.forms["form"]["sname"].value;
    var z = document.forms["form"]["stype"].value;
    var y = /^[a-zA-Z0-9-_]{2,16}$/;
    var p = /^[a-z0-9_-]{2,18}$/;
    if (x== "") {
        alert("please enter skillname");
        return false;
    }
    else if(x.length < 2)
    {
        alert("skillname should contain minimum 2 characters");
        return false;
    }
    else if(y.test(x)== false)
    {
        alert("follow the pattern");
        return false;
    }
    if(z== "")
    {
        alert("please enter skilltype");
        return false;
    }
    else if(z.length <2)
    {
        alert("skilltype should contain minimum 2 characters");
        return false;
    }
    else if(p.test(z)== false)
    {
        alert("follow the pattern");
        return false;
    }

}


function findCat() {
  var category =  document.getElementById("category").value;
  document.getElementById("demo").innerHTML = category;
//   return category;
};
module.export = findCat;
</script>

    </body>
    </html>
</center>

</body>
</html>
