<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/top.ejs %>
  <% include ../partials/nav.ejs %>



<!-- page code -->
<center>

    <style>
    form {
        border: 3px solid #f1f1f1;
    }
    
    input[type=text], input[type=password],input[type=email] {
        width: 35%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    
    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }


    
    button:hover {
        opacity: 0.8;
    }
    
    
    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
    }
    
    img.avatar {
        width: 40%;
        border-radius: 50%;
    }
    
    .container {
        padding: 16px;
    }
    
    span.psw {
        float: none;
        padding-top: 16px;
    }
    
    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
        span.psw {
           display: block;
           float: none;
        }
        .cancelbtn {
           width: 100%;
        }
    }
    </style>
    <body>
    
    <h2>Create New User</h2>
    
    <form method="post" action="/" onSubmit="return validateForm(this)" name="form">

    
      <div class="container">
        <table>
            <tr>
        <td><label><b>ChurchID</b></label></td>
        <td><input type="text" placeholder="Enter ChurchID" name="ChurchId" ></td>
    </tr>
<tr>
    <td> <label><b>Username</b></label></td>
<td><input type="text" placeholder="Enter Username" name="uname" ></td>
</tr>
    <tr>
        <td> <label><b>Email</b></label></td>
    <td>  <input type="email" placeholder="Enter Email" name="Email" ></td>
    </tr>
<tr>
    <td>  <label><b>Password</b></label></td>
<td> <input type="password" placeholder="Enter Password" name="psw" ></td>
    </tr>
<tr>  
    <td>  <label><b>Retype Password</b></label></td>
<td>  <input type="password" placeholder="Enter Password again" name="psw" ></td>
    </tr>    

</table>
    <p id="my-error-message-container" style="display:none; border:1px solid red; color:red; background-color:yellow; font-weight:bold; padding:5px; width:188px;"></p>
        <button class="btn btn-info" type="submit">Create User</button>
        
        <button class="btn btn-danger" role="button">Cancel</button>
        
</div>

    
      <!-- <div class="container" style="background-color:#f1f1f1">
        <input type="checkbox" checked="checked"> Remember me
        <span class="psw"> <a href="#">Forgot password?</a></span>
      </div> -->
    </form>
    <!-- test script -->
     <!-- test script -->


     

           
            <script>
function validateForm() {
    var x = document.forms["form"]["uname"].value;
    var z = document.forms["form"]["psw"].value;
    var y = /^[a-zA-Z0-9-_]{2,16}$/;
    var p = /^[a-z0-9_-]{6,18}$/;
    if (x== "") {
        alert("please enter username");
        return false;
    }
    else if(x.length < 2)
    {
        alert("username should contain minimum 2 characters");
        return false;
    }
    else if(y.test(x)== false)
    {
        alert("follow the pattern");
        return false;   
    }
    if(z== "")
    {
        alert("please enter password");
        return false;
    }
    else if(z.length <6)
    {
        alert("password should contain minimum 6 characters");
        return false;
    }
    else if(p.test(z)== false)
    {
        alert("follow the pattern");
        return false; 
    }

}
</script>




    

     
 
    






    
    </body>
    </html>
</center>

</body>
</html>
