<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
  <script>
  $(document).ready(function(){
    $('a.edit').click(function () {
    var text = $('.name').text();
    var input = $('<input id="attributename" type="text" value="' + text + '" />')
    $('.name').text('').append(input);
    input.select();
    var result = $('.name').val();
    });
    $('a.edit').click(function () {
    var text = $('.mail').text();
    var input = $('<input id="attributemail" type="text" value="' + text + '" />')
    $('.mail').text('').append(input);
    input.select();
    })
    $('a.edit').click(function () {
    var text = $('.numb').text();
    var input = $('<input id="attributenumb" type="text" value="' + text + '" />')
    $('.numb').text('').append(input);
    input.select();
    $('.save').show();
    })
    $('a.save').click(function () { 
        $('.name').html ( $('#attributename').val() );
    });
    $('a.save').click(function () { 
        $('.mail').html ( $('#attributemail').val() );
    });
    $('a.save').click(function () { 
        $('.numb').html ( $('#attributenumb').val() );
        $('.save').hide();
    });
    $('a.save').click(function () { 
        $('h2').text("Welcome "+$('.name').text()+"!");
    });
  });
    </Script>
</head>

<body>
  <% include ./partials/top.ejs %>
  <% include ./partials/nav.ejs %>

            <!-- page code -->  
            <div class="container">
                <div class="row">
                    <div>
                        <div class="jumbotron">
                                <div align="right"><h5>Parish ID: 123456</h5></div>
                            <div class="row">
                                <div class="col-sm-2 col-sm-6">
                                    <img src="/jolaine.jpg" alt="" class="img-rounded img-responsive" />
                                </div>
                                <div class="col-sm-7">
                                        
                                    <div class="align-top"><a class= "edit" href="#"><div align="right">edit</div></a></div>
                                   
                                    <h4>Welcome <%= user %> ! </h4>

                                    <p class="text-info">
                                            <i class="glyphicon glyphicon-user"></i><b>Name:</b><label class="name"> <%= user %> </label>
                                            <br />
                                            <b>Address:</b><label class="name"> 1115 N collge dr, Apt 163,Maryville , Mo. </label>
                                            <br/>
                                            <i class="glyphicon glyphicon-phone"></i><b>Phone:</b><label class="numb"> +1 660-528-0011</label>
                                        <br />

                                        <i class="glyphicon glyphicon-envelope"></i><b>Email:</b><label class="mail"> <%= user %>@stgregory.com </label>
                                    </p>
                                        <div class="align-top"><a class= "save" href="#" hidden><div align="right">save</div></a></div>
                                    <!-- Split button -->

                                    

                                    Note:<textarea name="message" rows="2" cols="100">Ill be free during Saturdays and Sundays between 10 am to 7pm.
                                            </textarea>
                                <footer></footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- pannels for skill and ministries -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                                <div class="panel-heading"><div class="col-sm-9">Your ministries</div><a href= "/ministrySurvey" ><div align="right">edit</div></a></div>
                            <div class="panel-body">


                                <ul><a href="/ministry">Adult Faith Formation Programs</a></ul>
                                <ul><a href="/ministry">Altar Servers</a></ul>
                                <ul><a href="/ministry">Annulment Advocate</a></ul>
                                <ul><a href="/ministry">Art & Environment Committee</a></ul>
                                <ul><a href="/ministry">Bereavement Ministry</a></ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                                <div class="panel-heading"><div class="col-sm-9">Your skills</div><a href= "/skillSurvey" ><div align="right">edit</div></a></div>
                            <div class="panel-body">
                                    <ul><a>Facilitating</a></ul>
                                    <ul><a>Planning</a></ul>
                                    <ul><a>Photography</a></ul>
                                    <ul><a>Bilingual</a></ul>
                                    <ul><a>Hardscape</a></ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            </div>


            <!-- page code -->

           
</body>

</html>
