<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/loggedtop.ejs %>
        <% include ../partials/nav.ejs %>

            <!-- page code -->
            <div class="container">
                <div class="row">
                    <div>
                        <div class="jumbotron">
                            <div class="row">
                                <div class="col-sm-2 col-sm-6">
                                    <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                                </div>
                                <div class="col-sm-7">
                                    <div class="align-top"><a><div align="right">edit</div></a></div>
                                    <h2>Welcome to your profile Jolaine!</h2>
                                    

                                    <p>
                                            <i class="glyphicon glyphicon-user"></i><b>Name:</b> Jolaine
                                            <br />
                                        <i class="glyphicon glyphicon-envelope"></i><b>Email:</b> email@example.com
                                        <br />
                                        <i class="glyphicon glyphicon-phone"></i><b>Contact:</b> +17777777007</p>
                                    <!-- Split button -->
                                    Note:<textarea name="message" rows="2" cols="100">Ill be free during Saturdays and Sundays between 10 am to 7pm.
                                            </textarea>
                                <footer></footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- pannels for skill and ministries -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                                <div class="panel-heading"><div class="col-sm-9">Your ministries</div><a href= "/ministrySurvey" ><div align="right">edit</div></a></div>
                            <div class="panel-body">
                                
                                   
                                <ul><a href="/ministry">Adult Faith Formation Programs</a></ul>
                                <ul><a href="/ministry">Altar Servers</a></ul>
                                <ul><a href="/ministry">Annulment Advocate</a></ul>
                                <ul><a href="/ministry">Art & Environment Committee</a></ul>
                                <ul><a href="/ministry">Bereavement Ministry</a></ul>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                                <div class="panel-heading"><div class="col-sm-9">Your skills</div><a href= "/skillSurvey" ><div align="right">edit</div></a></div>
                            <div class="panel-body">
                                    <ul><a>Facilitating</a></ul>
<<<<<<< HEAD
                                    <ul><a>Planning</a></ul>
                                    <ul><a>Photography</a></ul>
                                    <ul><a>Bilingual</a></ul>
                                    <ul><a>Hardscape</a></ul>
=======
                                    <ul><a>Preparing Food</a></ul>
                                    <ul><a>Sewing</a></ul>
                                    <ul><a>Painting</a></ul>
                                    <ul><a>Prayer Leader</a></ul>
>>>>>>> 251730f6f60f39a6be661cfa1222a6344e369ebd
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>


            </div>


            <!-- page code -->
</body>

</html>