<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/top.ejs %>
  <% include ../partials/nav.ejs %>



<!-- page code -->
<center>

    <style>
    form {
        border: 3px solid #f1f1f1;
    }
    
    input[type=text], input[type=password] {
        width: 35%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    
    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }


    
    button:hover {
        opacity: 0.8;
    }
    
    
    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
    }
    
    img.avatar {
        width: 40%;
        border-radius: 50%;
    }
    
    .container {
        padding: 16px;
    }
    
    span.psw {
        float: none;
        padding-top: 16px;
    }
    
    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 100px) {
        span.psw {
           display: block;
           float: none;
        }
        .cancelbtn {
           width: 30%;
        }
    }
    </style>
    <body>
            <div class = "row">
    <div class="container">
           
    <h2>Reset your Password</h2>
    
    <form  action="/" onSubmit="return validateForm(this)" name="form">

    
      <div class="container">
        <label><b>Email </b></label>
        <input type="email" placeholder="Enter your email" name="email" required>
    </br>
        
    
        <button ng-class="btn btn-success" "col-sm-3"  type="submit" Onclick="alrtmsg()" ng-href="/login">Reset</a>
            <script>
                
                function alrtmsg(){
                    var x = document.forms["form"]["email"].value;
                    if (x== "") {
        alert("please enter the email address");
        return false;
    }

                    
                    alert("reset link sent succesfully to " + x+"! Please check your email")
                    
                    

                }
                </script>
        
       
    </div>
      </div>

    
      
    </form>
    <!-- test script -->
     <!-- test script -->

    </div>
     

<!--            
            <script>
function validateForm() {
    var x = document.forms["form"]["email"].value;
    // var z = document.forms["form"]["psw"].value;
    // var y = /^[a-zA-Z0-9-_]{2,16}$/;
    // var p = /^[a-z0-9_-]{6,18}$/;
    if (x== "") {
        alert("please enter the email");
        return false;
    }


    // else if(x.length < 2)
    // {
    //     alert("username should contain minimum 2 characters");
    //     return false;
    // }
    // else if(y.test(x)== false)
    // {
    //     alert("follow the pattern");
    //     return false;   
    // }
    // if(z== "")
    // {
    //     alert("please enter password");
    //     return false;
    // }
   

}
</script>




    

     
 <! <script type="text/javascript">
    function RemoveErrorMessageFromPage()
    {
       var IDofContainer = "my-error-message-container";
       document.getElementById(IDofContainer).innerHTML = "";
       document.getElementById(IDofContainer).style.display = "none";
    }
    
    function InsertErrorMessageIntoPage(content)
    {
       var IDofContainer = "my-error-message-container";
       document.getElementById(IDofContainer).style.display = "";
       document.getElementById(IDofContainer).innerHTML = content;
    }
    
    function ErrorCheck()
    {
       RemoveErrorMessageFromPage();
       var uname = document.getElementByName("uname").value;
       if(uname.length=="" )
       {
          InsertErrorMessageIntoPage("The user name is required.");
          return false;
       }
       if( ! uname.match(/^[a-zA-Z0-9-_]{2,16}$/) )
       {
          InsertErrorMessageIntoPage("The user name appears to be invalid.");
          return false;
       }
       return true;
    }
    </script>
     -->
     






    
    </body>
    </html>
</center>

</body>
</html>
