<!DOCTYPE html>
<html>

<head>
	<% include ../partials/header.ejs %>
</head>

<body>
<<<<<<< HEAD
 <% include ../partials/top.ejs %>
	<% include ../partials/nav.ejs %>
	



	<div class="container">
		<div class="jumbotron">
		<h1>Welcome to Skill survey!</h1>
		<p>“Complete your skill survey here”
			
			</p>
		</div>
	</div>
	







<div id="content">
<div class="row">
  <div class="col-sm-12">
     <div class="panel panel-default">
       <div class="panel-heading">Skill Set 1</div>
         <div class="panel-body">
			  <table style="width: 100%; height: 100%;">
				
				<tr>
					<th> <input id="checkBox" type="checkbox"> Skill 1 </th>
					<th> <input id="checkBox" type="checkbox"> Skill 1 </th>
					<th> <input id="checkBox" type="checkbox"> Skill 1 </th>
				</tr>
				<tr>
					<th> <input id="checkBox" type="checkbox"> Skill 2 </th>
					<th> <input id="checkBox" type="checkbox"> Skill 2 </th>
					<th> <input id="checkBox" type="checkbox"> Skill 2 </th>
				</tr>
				<tr>
					<th> <input id="checkBox" type="checkbox"> Skill 3 </th>
					<th> <input id="checkBox" type="checkbox"> Skill 3 </th>
					<th> <input id="checkBox" type="checkbox"> Skill 3 </th>
				</tr>
			  </table>
		</div>
	  </div>
	</div>

  <div class="col-sm-12">
     <div class="panel panel-default">
       <div class="panel-heading">Skill Set 2</div>
         <div class="panel-body">
			  <table style="width: 100%; height: 100%;">
				
				<tr>
					<th><input id="checkBox" type="checkbox"> Skill 1 </th>
					<th><input id="checkBox" type="checkbox"> Skill 1 </th>
					<th><input id="checkBox" type="checkbox"> Skill 1 </th>
				</tr>
				<tr>
					<th><input id="checkBox" type="checkbox"> Skill 2 </th>
					<th><input id="checkBox" type="checkbox"> Skill 2 </th>
					<th><input id="checkBox" type="checkbox"> Skill 2 </th>
				</tr>
				<tr>
					<th><input id="checkBox" type="checkbox"> Skill 3 </th>
					<th><input id="checkBox" type="checkbox"> Skill 3 </th>
					<th><input id="checkBox" type="checkbox"> Skill 3 </th>
				</tr>
			  </table>
		</div>
	  </div>
	</div>
  </div>

<div class="row">
  <div class="col-sm-12">
     <div class="panel panel-default">
       <div class="panel-heading">Skill Set 3</div>
         <div class="panel-body">
			  <table style="width: 100%; height: 100%;">
				
				<tr>
					<th> <input id="checkBox" type="checkbox"> Skill 1 </th>
					<th> <input id="checkBox" type="checkbox"> Skill 1 </th>
					<th> <input id="checkBox" type="checkbox"> Skill 1 </th>
				</tr>
				<tr>
					<th> <input id="checkBox" type="checkbox"> Skill 2 </th>
					<th> <input id="checkBox" type="checkbox"> Skill 2 </th>
					<th> <input id="checkBox" type="checkbox"> Skill 2 </th>
				</tr>
				<tr>
					<th> <input id="checkBox" type="checkbox"> Skill 3 </th>
					<th> <input id="checkBox" type="checkbox"> Skill 3 </th>
					<th> <input id="checkBox" type="checkbox"> Skill 3 </th>
				</tr>
			  </table>
		</div>
	  </div>
	</div>

  <div class="col-sm-12">
     <div class="panel panel-default">
       <div class="panel-heading">Skill Set 4</div>
         <div class="panel-body">
			  <table style="width: 100%; height: 100%;">
				
				<tr>
					<th><input id="checkBox" type="checkbox"> Skill 1 </th>
					<th><input id="checkBox" type="checkbox"> Skill 1 </th>
					<th><input id="checkBox" type="checkbox"> Skill 1 </th>
				</tr>
				<tr>
					<th><input id="checkBox" type="checkbox"> Skill 2 </th>
					<th><input id="checkBox" type="checkbox"> Skill 2 </th>
					<th><input id="checkBox" type="checkbox"> Skill 2 </th>
				</tr>
				<tr>
					<th><input id="checkBox" type="checkbox"> Skill 3 </th>
					<th><input id="checkBox" type="checkbox"> Skill 3 </th>
					<th><input id="checkBox" type="checkbox"> Skill 3 </th>
				</tr>
			  </table>
=======
	<% include ../partials/top.ejs %>
		<% include ../partials/nav.ejs %>

			<div class="container">	
				<div class="jumbotron">
					<h1>Welcome to Skill survey</h1>
					<p>"Complete your Skill survey here"
					</p>
				</div>
				</div>





				<div id="content">
					<div class="row">
						<div class="col-sm-12">
							<div class="panel panel-default">
								<div class="panel-heading">Skill Set 1</div>
								<div class="panel-body">
									<table style="width: 100%; height: 100%;">

										<tr>
											<th> <input id="checkBox" type="checkbox"> Skill 1 </th>
											<th> <input id="checkBox" type="checkbox"> Skill 1 </th>
											<th> <input id="checkBox" type="checkbox"> Skill 1 </th>
										</tr>
										<tr>
											<th> <input id="checkBox" type="checkbox"> Skill 2 </th>
											<th> <input id="checkBox" type="checkbox"> Skill 2 </th>
											<th> <input id="checkBox" type="checkbox"> Skill 2 </th>
										</tr>
										<tr>
											<th> <input id="checkBox" type="checkbox"> Skill 3 </th>
											<th> <input id="checkBox" type="checkbox"> Skill 3 </th>
											<th> <input id="checkBox" type="checkbox"> Skill 3 </th>
										</tr>
									</table>
								</div>
							</div>
						</div>

						<div class="col-sm-12">
							<div class="panel panel-default">
								<div class="panel-heading">Skill Set 2</div>
								<div class="panel-body">
									<table style="width: 100%; height: 100%;">

										<tr>
											<th><input id="checkBox" type="checkbox"> Skill 1 </th>
											<th><input id="checkBox" type="checkbox"> Skill 1 </th>
											<th><input id="checkBox" type="checkbox"> Skill 1 </th>
										</tr>
										<tr>
											<th><input id="checkBox" type="checkbox"> Skill 2 </th>
											<th><input id="checkBox" type="checkbox"> Skill 2 </th>
											<th><input id="checkBox" type="checkbox"> Skill 2 </th>
										</tr>
										<tr>
											<th><input id="checkBox" type="checkbox"> Skill 3 </th>
											<th><input id="checkBox" type="checkbox"> Skill 3 </th>
											<th><input id="checkBox" type="checkbox"> Skill 3 </th>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<div class="panel panel-default">
								<div class="panel-heading">Skill Set 3</div>
								<div class="panel-body">
									<table style="width: 100%; height: 100%;">

										<tr>
											<th> <input id="checkBox" type="checkbox"> Skill 1 </th>
											<th> <input id="checkBox" type="checkbox"> Skill 1 </th>
											<th> <input id="checkBox" type="checkbox"> Skill 1 </th>
										</tr>
										<tr>
											<th> <input id="checkBox" type="checkbox"> Skill 2 </th>
											<th> <input id="checkBox" type="checkbox"> Skill 2 </th>
											<th> <input id="checkBox" type="checkbox"> Skill 2 </th>
										</tr>
										<tr>
											<th> <input id="checkBox" type="checkbox"> Skill 3 </th>
											<th> <input id="checkBox" type="checkbox"> Skill 3 </th>
											<th> <input id="checkBox" type="checkbox"> Skill 3 </th>
										</tr>
									</table>
								</div>
							</div>
						</div>

						<div class="col-sm-12">
							<div class="panel panel-default">
								<div class="panel-heading">Skill Set 4</div>
								<div class="panel-body">
									<table style="width: 100%; height: 100%;">

										<tr>
											<th><input id="checkBox" type="checkbox"> Skill 1 </th>
											<th><input id="checkBox" type="checkbox"> Skill 1 </th>
											<th><input id="checkBox" type="checkbox"> Skill 1 </th>
										</tr>
										<tr>
											<th><input id="checkBox" type="checkbox"> Skill 2 </th>
											<th><input id="checkBox" type="checkbox"> Skill 2 </th>
											<th><input id="checkBox" type="checkbox"> Skill 2 </th>
										</tr>
										<tr>
											<th><input id="checkBox" type="checkbox"> Skill 3 </th>
											<th><input id="checkBox" type="checkbox"> Skill 3 </th>
											<th><input id="checkBox" type="checkbox"> Skill 3 </th>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
			
				<form action="" method="post">
					<div style="text-align:right">
						<button type="submit" value="Submit">Submit</button>
					</div>
				</form>
			</div>
>>>>>>> 251730f6f60f39a6be661cfa1222a6344e369ebd
		</div>
			<style>
				#content {
					margin-left: 100px;
					margin-right: 100px;
				}
			</style>
</body>

</html>