<!DOCTYPE html>
<html>

<head>
	<% include ../partials/header.ejs %>
</head>

<body>
 <% include ../partials/top.ejs %>
	<% include ../partials/nav.ejs %>
	



	<div class="container">
		<div class="jumbotron">
		<h1>Welcome to Skill survey!</h1>
		<p>“Complete your skill survey here”
			
			</p>
		</div>

	






<div id="content">

  <div class="col-sm-12">
     <div class="panel panel-default">
       <div class="panel-heading"> Arts </div>
         <div class="panel-body">
			  <table style="width: 100%; height: 100%;">
				
				<tr>
					<th><input id="checkBox" type="checkbox"> Music(Vocal) </th>
					<th><input id="checkBox" type="checkbox"> Musical Instrument </th>
					<th><input id="checkBox" type="checkbox"> FLoral Arrangement </th>
				</tr>
				<tr>
					<th><input id="checkBox" type="checkbox"> Writing </th>
					<th><input id="checkBox" type="checkbox"> Photography </th>
					<th><input id="checkBox" type="checkbox"> Sewing </th>
				</tr>
				<tr>
					<th><input id="checkBox" type="checkbox"> Sewing </th>
					<th><input id="checkBox" type="checkbox"> Knitting/Crocheting </th>
					<th><input id="checkBox" type="checkbox"> Decorating and Interior Design </th>
				</tr>
				<tr>
					<th><input id="checkBox" type="checkbox"> Church Laundry </th>
				</tr>
			  </table>
		</div>
	  </div>
	</div>
 


  
  <div class="col-sm-12">
     <div class="panel panel-default">
       <div class="panel-heading"> Building Skills </div>
         <div class="panel-body">
			  <table style="width: 100%; height: 100%;">
				
				<tr>
					<th><input id="checkBox" type="checkbox"> General Maintenance </th>
					<th><input id="checkBox" type="checkbox"> Plumbing </th>
					<th><input id="checkBox" type="checkbox"> Electrical Work </th>
				</tr>
				<tr>
					<th><input id="checkBox" type="checkbox"> Painting </th>
					<th><input id="checkBox" type="checkbox"> Renovation </th>
					
				</tr>
			
				
			  </table>
		</div>
	  </div>
	</div>
  </div>
 
  <div class="col-sm-12">
     <div class="panel panel-default">
       <div class="panel-heading"> Event Skills </div>
         <div class="panel-body">
			  <table style="width: 100%; height: 100%;">
				
				<tr>
					<th><input id="checkBox" type="checkbox"> Party Event Planning </th>
					<th><input id="checkBox" type="checkbox"> Selling </th>
					<th><input id="checkBox" type="checkbox"> Creating Publicity </th>
				</tr>
				<tr>
					<th><input id="checkBox" type="checkbox"> Kitchen Organizing </th>
					<th><input id="checkBox" type="checkbox"> Preparing Food </th>
					<th><input id="checkBox" type="checkbox"> Baking and Cooking </th>
				</tr>
				<tr>
					<th><input id="checkBox" type="checkbox"> Serving Food </th>
					<th><input id="checkBox" type="checkbox"> Setting-up </th>
					<th><input id="checkBox" type="checkbox"> Clean Up After Events </th>
				</tr>
				<tr>
					<th><input id="checkBox" type="checkbox"> Event Decorating </th>
					<th><input id="checkBox" type="checkbox"> Event Fundraising </th>
					<th><input id="checkBox" type="checkbox"> Co-hosting Social Events </th>
				</tr>
				<tr>
					<th><input id="checkBox" type="checkbox"> Provide Child Care </th>
				</tr>
			  </table>
		</div>
	  </div>
	</div>
  
	
  <div class="col-sm-12">
     <div class="panel panel-default">
       <div class="panel-heading"> Business/Technology </div>
         <div class="panel-body">
			  <table style="width: 100%; height: 100%;">
				
				<tr>
					<th> <input id="checkBox" type="checkbox"> Audio and Video Systems </th>
					<th> <input id="checkBox" type="checkbox"> Computer Maintenance </th>
					<th> <input id="checkBox" type="checkbox">  Website Maintenance and Development </th>
				</tr>
				<tr>
					<th> <input id="checkBox" type="checkbox"> Data Entry </th>
					<th> <input id="checkBox" type="checkbox"> Data Programming </th>
					<th> <input id="checkBox" type="checkbox"> Computer Software </th>
				</tr>
				<tr>
					<th> <input id="checkBox" type="checkbox"> Graphic Design </th>
					<th> <input id="checkBox" type="checkbox"> Clerical Tasks </th>
				</tr>
			  </table>
		</div>
	  </div>
	</div>

  <div class="col-sm-12">
     <div class="panel panel-default">
       <div class="panel-heading"> Business/Team Skills </div>
         <div class="panel-body">
			  <table style="width: 100%; height: 100%;">
				
				<tr>
					<th><input id="checkBox" type="checkbox"> Communicating and Marketing </th>
					<th><input id="checkBox" type="checkbox"> Finance </th>
					<th><input id="checkBox" type="checkbox"> Fundraising </th>
				</tr>
				<tr>
					<th><input id="checkBox" type="checkbox"> Organization </th>
					<th><input id="checkBox" type="checkbox"> Facilitating </th>
					<th><input id="checkBox" type="checkbox"> Problem Solving </th>
				</tr>
				<tr>
					<th><input id="checkBox" type="checkbox"> Consensus Building </th>
					<th><input id="checkBox" type="checkbox"> Planning </th>
					<th><input id="checkBox" type="checkbox"> Team Building </th>
				</tr>
				<tr>
					<th><input id="checkBox" type="checkbox"> Recruiting </th>
					<th><input id="checkBox" type="checkbox"> Share Vision and Ideas </th>
					<th><input id="checkBox" type="checkbox"> Process Improvement </th>
				</tr>
				<tr>
					<th><input id="checkBox" type="checkbox"> Public Speaking </th>
				</tr>
			  </table>
		</div>
		</div>
		</div>
	
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading"> Discipleship/Spirituality </div>
					<div class="panel-body">
				 	<table style="width: 100%; height: 100%;">
				 
						<tr>
						<th> <input id="checkBox" type="checkbox"> Teaching/Assisting </th>
						<th> <input id="checkBox" type="checkbox"> Elementary </th>
						<th> <input id="checkBox" type="checkbox"> Youth </th>
					</tr>
					<tr>
						<th> <input id="checkBox" type="checkbox"> Sick and Elderly Minister </th>
						<th> <input id="checkBox" type="checkbox"> Crisis Minister </th>
						<th> <input id="checkBox" type="checkbox"> Prayer Leader </th>
					</tr>
					<tr>
						<th> <input id="checkBox" type="checkbox"> Bilingual </th>
						<th> <input id="checkBox" type="checkbox"> Using Sign Language </th>
						<th> <input id="checkBox" type="checkbox"> Provide transportation </th>
					</tr>
				 </table>
		 </div>
		 </div>
		 </div>
		</div>
		
	
		 <form action="" method="post">
			<div style="text-align:right">
				<button type="submit" value="Submit">Submit</button>
			</div>	</div>
		</form>

	</div>
	
			<style>
				#content {
					margin-left: 100px;
					margin-right: 100px;
				}
			</style>
</body>

</html>